body {
  background-color: #F8F8F8;
  margin: 0;
  min-height: 100vh; /* Полная высота экрана для адаптивности */
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Начинаем с верхней части */
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
}

/* Контейнер для контента */
.container {
  position: relative;
  width: 100%;
  max-width: 402px; /* Максимальная ширина для Telegram Mini App */
  min-height: 100vh; /* Полная высота */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px; /* Отступ снизу для меню */
  text-align: center;
}

.settings.body{
  overflow-y: hidden;
}

/* Заголовок */
.header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 120px;
  margin-top: 0;
  box-shadow: 2px 2px 4px rgb(226, 226, 226);
  display: flex;
  align-items: center;
  padding: 0 8px;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-photo {
  border-radius: 50%;
  object-fit: cover;
  border: 0px solid var(--tg-theme-button-color, #000);
}

.user-name {
  font-size: 40px;
  font-weight: bold;
}

/* Задачи */
.task {
  font-size: 28px;
  font-weight: 500;
}

.tasks {
  width: 94%; /* Адаптивная ширина */
  height: 185px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgb(226, 226, 226), -2px -2px 4px rgb(226, 226, 226), -2px 2px 4px rgb(226, 226, 226), 2px -2px 4px rgb(226, 226, 226);
  margin: 12px 0;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button {
  width: 90%; /* Адаптивная ширина */
  height: 28px;
  background-color: #DEE2E3;
  border: thin solid black;
  margin: 3px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.button.clicked {
  transition: 0.3s;
  background-color: #00B368;
  color: white;
}

.button-text {
  font-size: 16px;
  font-weight: 500;
}

/* Информация */
.info {
  position: relative;
  width: 94%;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgb(226, 226, 226), -2px -2px 4px rgb(226, 226, 226), -2px 2px 4px rgb(226, 226, 226), 2px -2px 4px rgb(226, 226, 226);
  margin: 12px 0;
  text-align: center;
}

.button-change {
  position: absolute;
  width: 43%;
  height: 34px;
  background-color: #DEE2E3;
  border: thin solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  bottom: 86px;
  padding-top: 14px;
  left: 5%;
}

.button-change:active{
  transition: 0.3s;
  background-color: #8f9091;
  color: white;
}


.button-history {
  position: absolute;
  width: 40%;
  height: 33px;
  background-color: #DEE2E3;
  border: thin solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  bottom: 86px;
  padding-top: 15px;
  right: 5%;
}

.button-history:active{
  transition: 0.3s;
  background-color: #8f9091;
  color: white;
}

.button-photo {
  position: absolute;
  width: 85%;
  height: 33px;
  color: white;
  background-color: #00B368;
  border: thin solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  bottom: 20px;
  padding-top: 11px;
  left: 50%;
  transform: translateX(-50%);
}


/* Меню внизу */
.bottom-menu {
  position:static;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 4px 2px 4px rgb(31, 31, 31);
  padding: 10px 20px;
  width: 100%;
  max-width: 402px;
  margin: 0 auto;
  margin-top: auto;
  z-index: 1;
  transition: bottom 0.2s ease;
}

/* Стили для каждой вкладки */
.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 12px;
  transition: color 0.3s ease;
  flex: 1;
  text-align: center;
  margin-right: 50px;
}

.cedar-section{
  position: absolute;
  left: 5%;
  top: 5%;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  position: relative; /* Для позиционирования size-input */
}

.size-container {
  display: inline-block;
  position: relative; /* Для наложения input на span */
}

#cedar-size {
  display: inline-block;
}

#size-input {
  width: 35px; /* Установите ширину по вашим нуждам */
  border-radius: 5px;
  border: 1px solid #ccc;
  top: 0;
  left: 0;
  font-size: 15px;

}
.photo-date{
  position: absolute;
  left: 5%;
  top: 14%;
  font-weight: 500;
  font-size: 20px;
}
.menu-item span {
  display: block; /* Гарантируем, что текст всегда виден */
  margin-top: 2px; /* Небольшой отступ от иконки */
}

/* Контейнер для иконок */
.icon-container {
  position: relative;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

/* Стили для иконок */
.menu-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

/* По умолчанию показываем серую иконку */
.menu-item img.gray {
  opacity: 1;
}
.menu-item img.green {
  opacity: 0;
}

/* При активной вкладке показываем зеленую иконку */
.menu-item.active img.gray {
  opacity: 0;
}
.menu-item.active img.green {
  opacity: 1;
}

/* Активная вкладка: текст становится зеленым */
.menu-item.active {
  color: #00B368;
}

/* Адаптация для Telegram Web App (темная тема) */
@media (prefers-color-scheme: dark) {
  .bottom-menu {
    background-color: #ffffff;
    border-top-color: #2a3b3c;
  }
  .menu-item {
    color: #9B9B9B;
  }
  .menu-item.active {
    color: #00B368;
  }
}

/* Адаптивная верстка для Telegram Mini App */
@media (max-width: 320px) {
  .container, .header, .tasks, .info, .lower, .bottom-menu {
    width: 100%;
    padding: 0 5px;
  }
  .button, .button-change, .button-history, .button-photo {
    width: 90%;
  }
  .user-photo {
    width: 60px;
    height: 60px;
  }
  .username {
    font-size: 28px;
  }
  .task {
    font-size: 20px;
  }
  .menu-item {
    font-size: 10px;
  }
  .icon-container {
    width: 25px;
    height: 25px;
  }
  .bottom-menu{
    bottom: 0;
  }
}

@media (min-width: 403px) {
  .container {
    max-width: 100%;
  }
  .bottom-menu {
    max-width: 100%;
    bottom: 0;
  }
}

.settings-header{
  width: 94%; /* Адаптивная ширина */
  height: 25vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgb(226, 226, 226), -2px -2px 4px rgb(226, 226, 226), -2px 2px 4px rgb(226, 226, 226), 2px -2px 4px rgb(226, 226, 226);
  margin: 12px 0;
  text-align: center;
  margin-top: 10%;
}

.header-text{
  font-size: 25px;
  margin-top: 5%;
}

.settings-buton{
  position: absolute;
  width: 43%;
  height: 34px;
  background-color: #DEE2E3;
  border: thin solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 14px;
  left: 5%;
  top: 20%;
}

.settings-buton:active{
  transition: 0.3s;
  background-color: #8f9091;
  color: white;
}

.settings-buton2{
  position: absolute;
  width: 43%;
  height: 34px;
  background-color: #DEE2E3;
  border: thin solid black;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-top: 14px;
  right: 5%;
  top: 20%;
}

.settings-buton2:active{
  transition: 0.3s;
  background-color: #8f9091;
  color: white;
}


.tournament-image{
  background-color: #00B368;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10%;
}

.tour-img{
  position: absolute;
  left: 27%;
  top: 30%;
}

.tournament-info{
  width: 94%; /* Адаптивная ширина */
  height: 58vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgb(226, 226, 226), -2px -2px 4px rgb(226, 226, 226), -2px 2px 4px rgb(226, 226, 226), 2px -2px 4px rgb(226, 226, 226);
  margin: 12px 0;
  text-align: center;
  margin-top: 5%;
  position: relative;
}

.text-user{
  font-size: 20px;
  position: absolute;
  left: 5%;
  top: 90%;
  font-weight: 500;
}

.tournament-table {
  margin-top: 0px;
  width: 100%;
  max-width: 600px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f0f0f0;
  font-weight: bold;
}
.user-position {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #28a745;
}
#submit-score-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#score-input {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  max-width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
